








html                        {
                            height: 100%;
                            }


body                        {
                            color: rgb(192, 177, 177);

                            min-height: 100vh

                            min-width:1000px;        /* Suppose you want minimum width of 1000px */
                            width: auto !important;  /* Firefox will set width as auto */
                            width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
                            }










/* Header */

.main_header_div            {
                            display: flex;

                            flex-direction: row;

                            justify-content: center;
                            align-items: center;

                            padding: 10px 0;
                            margin: 10px 72px;

                            height: auto;

                            position: center;

                            border-bottom: 1px silver solid;




                            /* display: flex;

                            flex-direction: row;

                            justify-content: center;
                            align-items: center;

                            padding: 10px 80px;
                            margin: 10px;

                            height: auto;

                            position: center;

                            border-bottom: 1px silver solid; */
                            }

.main_header_div h1 , h2
                            {
                            flex: 1;

                            padding: 10px 0;
                            margin: 75px 0;

                            width: 50%;
                            }


.break a button             {
                            color: black;
                            }

.break a
                            {
                            flex: 1;

                            height: auto;
                            width: auto;
                            }

.break                      {
                            flex: 1;
                            /* this property allows the flex item to grow in response to the other items in the flex container  */
                            /* we can then remove any previous fixed dimensions such as the width percentage                    */

                            }

#title                      {
                            text-align: center;
                            }









                            /* Footer */

                            #page-container
                                            {
                                            position: relative;
                                            min-height: 100vh;
                                            }

                              #content-wrap
                                            {
                                            justify-content: center;
                                            align-items: center;

                                            text-align: start;

                                            padding-bottom: 5rem;    /* Footer height */
                                            }

                              #footer       {
                                            justify-content: center;
                                            align-items: center;

                                            text-align: center;

                                            padding-top: 1rem;

                                            width: 100%;
                                            height: 5rem;            /* Footer height */

                                            position: absolute;
                                            bottom: 0;

                                            background-color: #F5F5F5;
                                            }

                              #footer p     {
                                            color: #000000;
                                            }




















/* Portfolio */

/* Images */

                                .banner_img
                                            {
                                            display: flex;

                                            /* min-height: 20%; */

                                            justify-content: center;
                                            align-items: center;

                                            width: 100%;
                                            height: auto;

                                            padding-top: 300px;
                                            padding-bottom: 300px;
                                            }


                                .image1     {
                                            flex 1;

                                            width: 35%;
                                            height: auto;

                                            }


/*  JavaScript & CS50 Items */

.layout                 {

                        flex: 1;

                        width: 100%;

                        display: grid;

                        grid-template-columns: 15% 15%;
                        /* grid-auto-rows: 200px; */

                        justify-content: center;
                        align-items: center;

                        gap: 5%;

                        padding-bottom: 50px;
                        }

.layout2                {
                        padding-bottom: 150px;
                        }


.text                       {

                            display: flex;

                            flex-direction: column;

                            justify-content: start;
                            align-items: start;

                            text-align: start;

                            height: 100%;
                            width: 100%;
                            }

.text2                      {
                            border-top: 1px silver solid;
                            }

                                .image                  {
                                                        display: flex;

                                                        flex-direction: column;

                                                        justify-content: start;
                                                        align-items: start;

                                                        height: 100%;
                                                        width: 100%;

                                                        opacity: 0;

                                                        }
                                                        /* Organising the outer shell of an image blog posts */
                                                        /* creates the grid line which stays consistent */

                                .image2                 {
                                                        width: 100%;
                                                        height: auto;
                                                        }
                                                        /* References the contents of the first image inside the grid shell */
                                                        /* can be thought of as the Placeholder  */

.switch {
        order: 2;
        }



















             /*===============
                Media Queries
                ===============*/




                @media (max-width: 2500px)      {



                    .layout  {
                        grid-template-columns: 35% 35%;

                        gap: 5%;

                        padding-bottom: 250px;
                                        }


                                        .image1     {
                                            width: 65%;

                                            }
                    }







                    @media (max-width: 1200px)   {


                        .layout  {
                            grid-template-columns: 35% 35%;

                            gap: 5%;

                            padding-bottom: 200px;
                                }

                                .image1     {
                                    width: 75%;
                                    }
                            }
